.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  .menu-heading{
    text-align: center;
    margin-bottom: 40px;
    font-size: 40px;
}
.customise{
    margin-right: 20px;
    font-weight: bold;
    color: #2498d0 !important;
}
.category{
  text-align: center;
  margin-bottom: 40px;
  font-size: 30px;
}
.cursor{
  cursor: pointer;
}