<div class="container marketing">
    <div class="row">
      <div class="col-md-12">
        <p class="menu-heading">OUR MENU</p>
        <p class="menu-sub-heading"></p>
      </div>
      <div class="col-md-12 category">Our Pizza</div>
      <div class="col-lg-4" *ngFor="let p of pizzaDetails.all_products.pizza">
        <img class="" src="./../../../../assets/images/pizza-1.jpg" alt="{{p.pizza_details}}" width="300" height="300">
        <h4>{{p.pizza_name}}</h4>
        <p>Large 13.5" &euro;{{p.pizza_price}}</p>
        <p><a (click)="openMenuDetailsPage()" class="customise">CUSTOMISE</a> <a class="btn btn-secondary" href="#" role="button">ADD</a></p>
      </div>

      <div class="col-md-12 category">Our Sides</div>
      <div class="col-lg-4" *ngFor="let s of pizzaDetails.all_products.sides">
        <img class="" src="./../../../../assets/images/garlic_pizza_bread.PNG" alt="{{s.sides_details}}" width="300" height="300">
        <h4>{{s.sides_name}}</h4>
        <p>&euro;{{s.sides_price}} <a class="btn btn-secondary" (click)="openMenuDetailsPage()" role="button">ADD</a></p>
      </div>

      <div class="col-md-12 category">Our Drinks</div>
      <div class="col-lg-4" *ngFor="let d of pizzaDetails.all_products.drinks">
        <img class="" src="./../../../../assets/images/coca_cola.PNG" alt="{{d.drinks_details}}" width="300" height="300">
        <h4>{{d.drinks_name}}</h4>
        <p>&euro;{{d.drinks_price}} <a class="btn btn-secondary" (click)="openMenuDetailsPage()" role="button">ADD</a></p>
      </div>
    </div>
  </div>
