.bg-black {
    background-color: #131517!important;
}
.cursor{
    cursor: pointer;
}
.btn-yellow{
    border: #d4b831;
    margin-right: 10px;
    color: white;
    background-color: #d4b831;
}
.margin-left{
    margin-left: 700px;
}