<article class="container container-padded margin-top">
    <header>
    <h1><span>WHAT CAN WE HELP YOU WITH?</span></h1>
</header>
<h4>CONTACTING YOUR STORE</h4>
<p>We sometimes make mistakes but we want to help make it right.  It is always best to contact your local store before making contact 
    with Pizza Delicious’s Customer Care Team, to ensure faster and more immediate care.  To find your local store please 
    <a href="/">click here</a>.</p>
<h4>PIZZA DELICIOUS's CUSTOMER CARE</h4>
<p>
	We will see what we can do to assist you; you do need to have made contact with your local store in the first instance.  
    Please <a href="/">click here</a> to talk to us.
</p>
<header>
    <h1><span>EMAIL AND SMS ALERTS</span></h1>
</header>
<p>
	Do you want to stop receiving email and SMS alerts? <a href="/">click here</a>.
</p>
</article>
