<div class="container margin-top margin-bottom">
    <div class="row">
        <div class="col-5">
            <img src="{{currentItem.image}}" alt="Pizza Image" width="100%" id="imageProduct">
           
        </div>
        <div class="col-5">
            <h2>{{currentItem.name}}</h2>
            <h5>&euro; {{currentItem.price}}</h5>
            <select [(ngModel)]="currentItem.selectedSize" (change)="sizeChanged(currentItem.selectedSize)" class="margin-b-20">
                <option>Select Size</option>
                <option>Small</option>
                <option>Medium</option>
                <option>Large</option>
            </select>
            <div class="margin-b-20"> 
                <input type="number" value="1" min="1" [(ngModel)]="currentItem.productQuantities">
            </div>
            <a role="button" class="btn btn-primary btn-bg" (click)="addProductToCart(currentItem)" >Add To Cart</a>
            <h3>Product Details <i class="fa fa-indent"></i></h3>
            <p>{{currentItem.details}}</p>
        </div>

    </div>
</div>