<!-- FOOTER -->
<footer class="bg-color-black">
    <p class="float-right"><a href="#">Back to top</a></p>
    <div class="container">
      <div class="row mb-5">
      <div class="col-lg-3 col-md-6 mb-5 mb-md-5 footer-css">
      <div class="mb-4">
      <h2 class="">About Us</h2>
      <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
      </div>
      </div>
      
      <div class="col-lg-2 col-md-6 mb-5 mb-md-5 footer-css">
      <div class="mb-4 ml-md-4">
      <h2 class="">Our Services</h2>
      <ul class="list-unstyled">
      <li><a href="#" class="py-2 d-block">Cooked</a></li>
      <li><a href="#" class="py-2 d-block">Delivery</a></li>
      <li><a href="#" class="py-2 d-block">Quality Food</a></li>
      <li><a href="#" class="py-2 d-block">Mixed</a></li>
      </ul>
      </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-5 mb-md-5 footer-css">
      <div class="mb-4">
      <h2 class="">Have any Questions?</h2>
      <div class="block-23 mb-3">
      <ul>
      <li><span class=""></span><span class="text">203 Fake Capel Street, Drumcondra, Ireland</span></li>
      <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 399 3966 670</span></a></li>
      <li><a href="#"><span class="icon icon-envelope"></span><span class="text">mypizzarestaurant@delivery.com</span></a></li>
      </ul>
      </div>
      </div>
      </div>
      </div>
      </div>
  </footer>